
<div class="row justify-content-end">
    <div class="col-lg-2">
        <select class="form-control btn-sm" id="exampleFormControlSelect1" (change)="ShowSelected($event)">
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal"><i
                class="fa fa-plus-square"></i> Crear</button>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipoAlerta of listTipoAlerta! | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{tipoAlerta.id}}</td>
                <td>{{tipoAlerta.nombre}}</td>
                <td>
                    <a class="btn btn-circle btn-secondary" *ngIf="tipoAlerta.estado === 1"
                        (click)="borrartipoAlerta(tipoAlerta.id, '0')"> <i class="fas fa-lock"></i>
                    </a>
                    <a class="btn btn-circle btn-secondary" *ngIf="tipoAlerta.estado === 0"
                        (click)="borrartipoAlerta(tipoAlerta.id, '1')"> <i class="fas fa-lock-open"></i>
                    </a>
                    <a class="btn btn-circle btn-warning ml-2" data-toggle="modal" data-target="#exampleModal"
                        (click)="obtenerDatos(tipoAlerta.id)"> <i class="fa fa-pencil"></i> </a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-right mt-3" (pageChange)="p = $event"></pagination-controls>
</div>

<div id="exampleModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="cancelar()">×</button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">

                <form #forma="ngForm">
                    <div class="form-group">
                        <label class="control-label">Ingresar Nombre</label>
                        <input type="text" id="firstName" class="form-control"
                        #nombre="ngModel" [(ngModel)]="tipoAlertaForm.nombre" name="nombre"
                        >
                        </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect"
                    (click)="agregarEditarTipoAtencion()">Guardar</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"
                    (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
