.pointer{
  cursor: pointer;
}
h6{
  font-weight: bold;
}
ul{
  height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}
p{
  font-size: 12px;
  font-weight: bold;
}
#modal{
  z-index: 99999;
  position: absolute;
}
@media (max-width:1024px){
  ul{
    height: 540px!important;
  }
}
.ciudadano{
  width: 70%;
  font-size: 13px;
}
.atendido{
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: row;
}
.ver{
  position: absolute;
  top: 50px;
  right: 10px;
}