
.imgTipoAtencion{
    width: 50px;
    border-radius: 10px;
}
.btnAction{
    cursor: pointer;
}
.modal-img{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
}
.loadimage{
    width: 100%;
    height: 100%;
}