<h4 class="card-title">Responsive Table </h4>
<h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in
    <code>.table-responsive </code>
</h6>
<div class="row justify-content-end">
    <div class="col-lg-4 text-right">
        <select class="form-control btn-sm" id="exampleFormControlSelect1" (change)="ShowSelected($event)">
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-contact"><i class="fa fa-plus-square"></i> Crear</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipoAtencion of listTipoAtencion">
                <td><a href="javascript:void(0)">{{tipoAtencion.id}}</a></td>
                <td>{{tipoAtencion.nombre}}</td>
                <td> <img class="imgTipoAtencion" src="{{loadImage}}/{{tipoAtencion.id}}" alt=""> </td>

                <td *ngIf="tipoAtencion.estado === 0">
                    <div class="label label-table label-danger">Inactivo</div>
                </td>
                <td *ngIf="tipoAtencion.estado === 1">
                    <div class="label label-table label-success">Activo</div>
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-circle btn-secondary" *ngIf="tipoAtencion.estado === 1"
                        (click)="borrarTipoAtencion(tipoAtencion.id, '0')"> <i class="fas fa-lock"></i>
                    </a>
                    <a class="btn btn-circle btn-secondary" *ngIf="tipoAtencion.estado === 0"
                        (click)="borrarTipoAtencion(tipoAtencion.id, '1')"> <i class="fas fa-lock-open"></i>
                    </a>
                    <a  class="btn btn-circle btn-warning ml-2" data-toggle="modal" data-target="#add-contact" (click)="obtenerDatos(tipoAtencion.id)"> <i
                            class="fa fa-pencil"></i> </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelar()">×</button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4> </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12 m-b-20">
                        <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload Contact Image</span>
                            <input type="file" class="upload"> </div>
                    </div>
                </div>
                <form class="form-horizontal form-material" [formGroup]="tipoAtencionForm">
                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre"></div>
                       
                    </div>
                </form>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" [disabled]="tipoAtencionForm.invalid" (click)="agregarEditarTipoAtencion()">Guardar</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>