<app-search-alerta (filtro)="funFiltro($event)"></app-search-alerta>
<div class="row">
    <div class="col-lg-9">
        <div id="mapa">

        </div>
    </div>
    <div class="col-md-3 scroll mt-3">
        <div class="row">
            <div class="col-md-12" *ngFor="let alerta of listAlerta">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">{{alerta.nombre_tipo}}</h4></div>
                    <div class="card-body">
                        <h5 class="card-title">Ciudadano: {{alerta.nombre}} {{alerta.apellido}}</h5>
                        <h5>DNI: {{alerta.dni}}</h5>
                        <h5>Fecha: {{alerta.fecha}}</h5>
                        <h5>Hora: {{alerta.hora}}</h5>
                        <h5>Latitud: {{alerta.lat}}</h5>
                        <h5>Longitud: {{alerta.lng}}</h5>
                        <p class="card-text">{{alerta.descripcion}}</p>
                        
                        <button type="button" class="btn btn-outline-secondary">Mostrar Ruta</button>
                        <button type="button" class="btn btn-outline-info ml-2">Derivar</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>