<app-search-alerta></app-search-alerta>
<div class="row">
    <div class="col-lg-9">
        <div id="mapa">

        </div>
    </div>
    <div class="col-lg-3 scroll">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptates veniam earum. Temporibus nulla
        consequuntur quam provident? Magnam minus, praesentium, earum nisi totam, deleniti ipsum alias consectetur rem
        iste voluptatibus?  
    </div>
</div>