<app-search-alerta (filtro)="funFiltro($event)" (filtroreporte)="generarReporte($event)"></app-search-alerta>
<div class="row">
    <div class="col-lg-9">
        <div id="mapa">

        </div>
    </div>
    <div class="col-md-3 scroll mt-3">
        <div class="row">
            <div class="col-md-12" *ngFor="let alerta of listAlerta">
                <div class="card card-outline-info">
                    <div class="card-header" [ngStyle]="{'background-color':'#'+alerta.color}">
                        <h4 class="m-b-0 text-white">{{alerta.tipo_alerta}}</h4></div>
                    <div class="card-body">
                        <h5 class="card-title">Ciudadano: {{alerta.nombre}} {{alerta.apellido}}</h5>
                        <h5>DNI: {{alerta.dni}}</h5>
                        <h5>Fecha: {{alerta.fecha}}</h5>
                        <h5>Hora: {{alerta.hora}}</h5>
                        <h5>Latitud: {{alerta.lat}}</h5>
                        <h5>Longitud: {{alerta.lng}}</h5>
                        <p class="card-text">{{alerta.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Ubicacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <div id="mapa2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 -->
