<div class="row mb-3">
    <div class="col-lg-2">
        <label class="control-label">Da click para filtrar</label>
        <button type="button" class="btn waves-effect waves-light btn-block btn-info"
            (click)="onClick()">Filtrar</button>
    </div>
    <div class="col-lg-2">
        <label class="control-label">Ingrese una opcion</label>
        <select class="form-control" id="exampleFormControlSelect1" [formControl]="tipo">
            <option value="">Seleccionar una opcion</option>
            <option value="1">Todos</option>
            <option value="2">Fecha</option>
            <option value="3">Tipo Alerta</option>
        </select>
    </div>
    <div #divFecha class="col-lg-4" style="display: none;" id="divFecha">
        <div class="row">
            <div class="col-lg-6">
                <label class="control-label">Fecha de Inicio</label>
                <input class="form-control" type="date" [formControl]="fechaUnoForm" id="example-date-input">
            </div>
            <div class="col-lg-6">
                <label class="control-label">Fecha Final</label>
                <input class="form-control" type="date" [formControl]="fechaDosForm" id="example-date-input">
            </div>
        </div>
    </div>
    <div #divTipoAlerta class="col-lg-4" style="display: none;" id="divTipoAlerta">
        <div class="col-lg-12">
            <label class="control-label">Seleccione tipo de alerta</label>
            <select class="form-control" id="exampleFormControlSelect1" [formControl]="datoTipo">
                <option value="">Seleccionar una opcion</option>
                <option *ngFor="let tipoAlerta of listTipoAlerta" value="{{tipoAlerta.id}}">{{tipoAlerta.nombre}}</option>
            </select>
        </div>
    </div>
</div>